<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/hunter-web.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/hunter-web.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- project default level -->
	<logger name="edu.hunter" level="DEBUG" />
	<logger name="org.apache.shiro" level="WARN" />
	<logger name="org.springframework.web" level="DEBUG" />
	<logger name="net.sf.ehcache" level="INFO" />

	<logger name="jdbc.sqltiming" level="ERROR"/>
	<logger name="jdbc.sqlonly" level="ERROR"/>
	<logger name="jdbc.resultset" level="ERROR"/>
	<logger name="jdbc.audit" level="ERROR"/>
	<logger name="jdbc.connection" level="ERROR"/>

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>